<h1><%= @task.title %></h1>

<div class="well"><%= @task.details %></p>

<% if @task.completed %>
  <i class="fa-sharp fa-regular fa-square-check"></i>This task is completed
<% else %>
  <i class="fa fa-square-o"></i>This task is not completed yet
<% end %>

<%= link_to 'edit', edit_task_path(@task) %>
<%= link_to 'back to list', tasks_path%>
